@import "tailwindcss";
@plugin "@tailwindcss/typography";
@font-face {
    font-family: "Atkinson";
    src: url("/s/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Atkinson";
    src: url("/s/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-display: "Atkinson", "sans-serif";
    --color-accent: #2337ff;
    --color-accent-dark: #000d8a;

    --color-main: #c02307;
    --font-sans: "Atkinson", sans-serif;
    --font-mono: "Atkinson Mono", monospace;
    --font-serif: "Atkinson", serif;
}
