---
import BaseHead from "@components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";

import Avatar from "../assets/Avatar.png";
import Logo from "@components/Logo.astro";
import { Picture } from "astro:assets";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-main">
    <main
      class="relative flex h-screen max-h-screen w-screen max-w-screen overflow-clip py-20 lg:py-0"
    >
      <Picture
        formats={["webp"]}
        src={Avatar}
        alt=""
        class="absolute bottom-0 -translate-x-20 -translate-y-2/4 scale-200 mask-t-from-60% mask-r-from-60% saturate-60 md:translate-x-0 md:-translate-y-20 md:scale-120 md:mask-l-from-60% lg:z-3 lg:translate-y-0 lg:scale-110 lg:mask-t-from-100% lg:mask-r-from-68% lg:mask-l-from-100%"
      />
      <div
        class="z-2 flex flex-1 flex-col items-center justify-end gap-6 lg:items-end lg:pr-20 lg:pb-20"
      >
        <Logo class="size-2/3 h-fit pb-20 text-white lg:h-full lg:pb-0" />
        <div class="text-4xl leading-0 font-bold text-white">[ ThatRomus ]</div>

        <Link href="/about" class="cursor-default">
          <Button class="mt-20">About me</Button>
        </Link>
      </div>
    </main>
  </body>
</html>
