---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import { Image } from "astro:assets";
import Avatar from "../assets/Avatar.png";
import Logo from "@components/Logo.astro";
import { Picture } from "astro:assets";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main
            class="bg-main h-screen w-screen flex overflow-clip max-h-screen max-w-screen relative"
        >
            <Picture
                formats={["webp"]}
                src={Avatar}
                alt=""
                class="absolute bottom-0 lg:relative lg:scale-110 scale-200 md:scale-120 lg:translate-y-0 md:-translate-y-20 -translate-y-2/4 -translate-x-20 md:translate-x-0 saturate-70"
            />
            <div
                class="z-2 lg:z-0 flex flex-col flex-1 items-center lg:items-end justify-end gap-6 lg:pb-20 lg:pr-20"
            >
                <Logo
                    class="size-2/3 lg:size-1/1 h-fit pb-20 lg:pb-0 lg:h-full"
                />
                <div class="font-mono text-4xl text-white leading-0">
                    [ ThatRomus ]
                </div>

                <button class="mt-20 p-4 bg-white text-black">About me</button>
            </div>
        </main>
    </body>
</html>
