---
import BaseHead from "@components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";

import Avatar from "../assets/Avatar.png";
import Logo from "@components/Logo.astro";
import { Picture } from "astro:assets";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-main">
    <main
      class="relative flex h-screen max-h-screen w-screen max-w-screen overflow-clip py-20 xl:py-0"
    >
      <Picture
        loading="eager"
        formats={["webp"]}
        src={Avatar}
        alt=""
        class="absolute bottom-0 -translate-x-20 -translate-y-2/4 scale-200 mask-t-from-60% mask-t-to-90 mask-r-from-60% mask-r-to-80% mask-b-from-65% mask-b-to-95% saturate-60 sm:translate-x-0 sm:-translate-y-20 sm:scale-120 sm:mask-t-from-0 sm:mask-t-to-100% sm:mask-r-from-100% sm:mask-r-to-100% sm:mask-l-from-60% md:scale-160 xl:z-3 xl:translate-y-0 xl:scale-110 xl:mask-t-from-100% xl:mask-r-from-68% xl:mask-r-to-100% xl:mask-l-from-100%"
      />
      <div
        class="group z-2 flex flex-1 flex-col items-center justify-end gap-6 xl:items-end xl:pr-20 xl:pb-20"
      >
        <Logo
          class="size-2/3 h-fit pb-20 text-white xl:h-full xl:translate-12 xl:pb-0"
        />
        <div
          class="text-4xl leading-0 font-bold tracking-[10px] text-white transition-all duration-300 ease-in-out group-hover:tracking-wide xl:tracking-normal"
        >
          [ ThatRomus ]
        </div>

        <Link href="/about" class="cursor-default">
          <Button
            direction="left"
            class="font-rubik-mono mt-20 transition-all duration-300 ease-in-out group-hover:tracking-[10px]"
            >About me</Button
          >
        </Link>
      </div>
    </main>
  </body>
</html>
