---
/**
 * HeaderLink ->
 * Component for:
 *
 * Navigation link.
 *
 */
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const base = import.meta.env.BASE_URL;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = base + pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
const redirect = base + href;
---

<a
  href={redirect}
  class:list={[
    "font-rubik-mono relative flex h-full items-center justify-center overflow-hidden border-b-2 px-4 text-center text-sm transition-colors duration-300 ease-in-out sm:text-lg",
    className,

    // не активен → анимация заливки accent
    {
      "hover:border-b-accent before:bg-accent border-b-black before:absolute before:bottom-0 before:left-0 before:z-0 before:h-0 before:w-full before:transition-all before:duration-300 hover:text-white hover:before:h-full":
        !isActive,
    },

    // активен → обычный стиль без анимации
    { "border-b-accent bg-active-bg font-bold": isActive },
  ]}
  {...props}
>
  <span class="relative z-10"><slot /></span>
</a>
