---
/**
 * HeaderLink ->
 * Component for:
 *
 * Navigation link.
 *
 */
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const base = import.meta.env.BASE_URL;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = base + pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
const redirect = base + href;
---

<a
    href={redirect}
    class:list={[
        "relative h-full flex items-center justify-center px-4 border-b-2 text-sm lg:text-lg text-center transition-colors duration-300 ease-in-out overflow-hidden",
        className,

        // не активен → анимация заливки accent
        {
            "border-b-black hover:border-b-accent before:absolute before:bottom-0 before:left-0 before:w-full before:h-0 before:bg-accent before:z-0 before:transition-all before:duration-300 hover:before:h-full hover:text-white":
                !isActive,
        },

        // активен → обычный стиль без анимации
        { "font-bold border-b-accent bg-active-bg": isActive },
    ]}
    {...props}
>
    <span class="relative z-10"><slot /></span>
</a>
