---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import BareCode from "@components/BareCode.astro";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";
import { Image } from "astro:assets";
import BothHands from "@assets/both_hands.png";

type Props = CollectionEntry<"about">["data"];

const { skills, title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="relative min-h-screen w-screen overflow-x-auto bg-black">
    <Header />
    <main class="z-12 mx-auto max-w-3xl px-4 lg:p-0">
      <article class="space-y-16">
        <div
          class="font-rubik-mono prose prose-invert prose-img:rounded-xl lg:prose-lg xl:prose-xl mx-auto font-bold tracking-wide lg:text-2xl"
        >
          <slot />
        </div>

        <div>
          <div class="flex w-full flex-wrap justify-evenly gap-2">
            {skills.map((skill) => <Button direction="left">{skill}</Button>)}
          </div>
        </div>
      </article>
    </main>
    <div
      class="group flex w-full transform flex-col items-center justify-center py-10"
    >
      <Link href="/portfolio">
        <Button
          direction="left"
          class="rotate-3 skew-3 leading-3.5 font-bold tracking-[10px] lg:rotate-0 lg:skew-0 lg:tracking-[5px] lg:transition-all lg:will-change-transform lg:group-hover:rotate-3 lg:group-hover:skew-3 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-10"
          >Portfolio</Button
        >
      </Link>

      <Link href="/portfolio">
        <Button
          direction="left"
          class="z-10 translate-y-16 rotate-12 skew-6 leading-3.5 font-bold tracking-[10px] lg:translate-y-0 lg:rotate-0 lg:skew-0 lg:tracking-[5px] lg:opacity-80 lg:transition-all lg:will-change-transform lg:group-hover:translate-y-16 lg:group-hover:rotate-12 lg:group-hover:skew-6 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-20"
          >Portfolio</Button
        >
      </Link>
      <Link href="/portfolio">
        <Button
          direction="left"
          class="z-10 translate-y-30 rotate-30 skew-12 leading-3.5 font-bold tracking-[10px] lg:translate-y-0 lg:rotate-0 lg:skew-0 lg:tracking-[5px] lg:opacity-60 lg:transition-all lg:will-change-transform lg:group-hover:translate-y-30 lg:group-hover:rotate-30 lg:group-hover:skew-12 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-40"
          >Portfolio</Button
        >
      </Link>
      <Link href="/portfolio">
        <Button
          direction="left"
          class="z-10 translate-y-50 rotate-45 skew-14 leading-3.5 font-bold tracking-[10px] lg:translate-y-0 lg:rotate-0 lg:skew-0 lg:tracking-[5px] lg:opacity-40 lg:transition-all lg:will-change-transform lg:group-hover:translate-y-50 lg:group-hover:rotate-45 lg:group-hover:skew-14 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-60"
          >Portfolio</Button
        >
      </Link>
      <Link href="/portfolio">
        <Button
          direction="left"
          class="z-10 translate-y-66 rotate-60 leading-3.5 font-bold tracking-[10px] lg:translate-y-0 lg:rotate-0 lg:tracking-[5px] lg:opacity-20 lg:transition-all lg:will-change-transform lg:group-hover:translate-y-66 lg:group-hover:rotate-60 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-80"
          >Portfolio</Button
        >
      </Link>
      <Link href="/portfolio">
        <Button
          direction="left"
          class="z-10 translate-y-100 rotate-90 leading-3.5 font-bold tracking-[10px] lg:translate-y-0 lg:rotate-0 lg:tracking-[5px] lg:opacity-10 lg:transition-all lg:will-change-transform lg:group-hover:translate-y-100 lg:group-hover:rotate-90 lg:group-hover:tracking-[10px] lg:group-hover:lg:opacity-100"
          >Portfolio</Button
        >
      </Link>
      <Image
        class="z-5 translate-y-42 mask-b-to-90% contrast-100 lg:translate-y-0"
        src={BothHands}
        alt="Both Hands"
      />
    </div>
    <!-- lg:scale-100 -->
    <BareCode
      class="text-accent absolute bottom-0 scale-y-300 mask-t-from-red-200 mask-t-to-90% mask-r-to-130% mask-l-to-130% lg:scale-100"
    />
  </body>
</html>
